div{
    margin:25px;
}
body{
    background-image:url("cat_photo.jpg");
    background-size:cover;
}
#first{
    background-color:rgb(90, 120, 75);
    height: 200px;
    width:200px;
    display:inline-block;
    background-image: url("cat_photo.jpg");
    background-size:cover;
}
#second{
    background-color:pink;
    height: 200px;
    width:200px;
    display:inline-block;
}
#third{
    background-color:lightcoral;
    height: 200px;
    width:200px;
    display:inline-block;
}
#fourth{
    background-color:rgb(129, 31, 31);
    height: 200px;
    width:200px;
    display:inline-block;
}