#box{
    background-color: blue;
}
.heading{
    color:red;
}
button{
    background-color: green;
    
    }
#head{
    text-align: center;
    font-weight:normal;
    text-transform:uppercase; 
}
a{
    text-decoration:none;
    font-weight: bolder;
}
p{
    line-height: 20px;
}
