h1{
    background-color: red;
}
#box{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:100px;
    left:100px;
    transition: all 4s ease-in 2s;
}
#box:hover{
    background-color: blue;
    transform: rotate(45deg);
    transform:scale(2,3);
    transform: translate(60px);
    transform: skew(90deg);
}
